html{
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    padding: 0;
    margin: 0;
    border: 0;
}


body{    background: url('../Upload/Convite.png') no-repeat; background-size: auto;}

@media(max-width:600px)/*aqui você define a largura do dispositivo*/
{    body{    background: url('../Upload/Convite2.png') no-repeat;background-size: auto;}    
}


.qrcode{
    width: 100%;
    height: 50%;
    position: relative;
    left: 87vh;
    top: 28Vh;
}

.Box_Esquerda {
    width: 40%;
    height: 100%;
    position: absolute;
    margin-left: 10%;
}